<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>

  <appSettings>

    <add key="Config" value="C:\Program Files (x86)\Steam\steamapps\common\Marc Ecko's Getting Up 2"/>



    <add key="RutaTexturas" value="C:\Program Files (x86)\Steam\steamapps\common\Marc Ecko's Getting Up 2\engine\textures\tag_art"/>

    

  </appSettings>
</configuration>
